Lecture-1:
================================================================
In this lesson you will learn the basics of Python and you will write your first Python program:

In [1]:
print('Hello')

Hello

In [2]:
#To extract all keywords in python 3.7 use the below code

import keyword as kw

print(kw.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
# Number of keywords are 
print("keywords in python 3.7 are:", len(kw.kwlist))

keywords in python 3.7 are: 33

# 2. Identifiers

Identifiers (also referred to as names) is given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for Writing Identifiers:

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. <i>'99somename'</i> is invalid, but <i>'somename99'</i> is perfectly fine.

3. Keywords cannot be used as identifiers.

In [26]:
somename99 = 1007777777777777777777777777777777777777777777777777777777777777777777777777777777777777888888888888888888888888
print(somename99)
print(type(somename99))

1007777777777777777777777777777777777777777777777777777777777777777777777777777777777777888888888888888888888888
<class 'int'>

In [5]:
break = 1             # Cannot use keyword as identifiers

SyntaxError: invalid syntax (<ipython-input-5-aba524504e22>, line 1)

In [6]:
hello@ = 10           #can't use special symbols as an identifier

SyntaxError: invalid syntax (<ipython-input-6-5e6aa59d47a3>, line 1)

In [2]:
hello = 1
print("hello: ",hello) # '' ""

hello123 = 1
print('hello123: ',hello123)

hello_1 = 1
print('hello_1: ',hello_1)

hello:  1
hello123:  1
hello_1:  1

In [3]:
print('hello: ',hello,hello123,hello_1) # hello_1 = 1 helloo_2 = 2 ''' c''' == docstring

hello:  1 1 1

# 3. Comments in Python

A comment may appear at the start of a line or following whitespace or code, but not within a string literal.<br/>
A hash character within a string literal is just a hash character.<br/>
Comments are lines that are ignored by compilers and interpreters. <br/>
### This is one of the best way to convey the idea behind the code and people reusing your code can easily make sense of your code

### Single line comment

In [4]:
# This is a single line comment. Has no effect on the code below
abd = 10

### Multi line comment

In [5]:
# You can write multiple lines of comment by putting a '#' at the beginning
# You can write multiple lines of comment by putting a '#' at the beginning
# You can write multiple lines of comment by putting a '#' at the beginning

In [7]:
'''
A better option to write multi line comment is by adding all your 
text between a set of 3-single or 3-double quotes. Like we have done here
'''

'\nA better option to write multi line comment is by adding all your \ntext between a set of 3-single or 3-double quotes. Like we have done here\n'

In [8]:
"""
A better option to write multi line comment is by adding all your 
text between a set of 3-single or 3-double quotes. Like we have done here
"""

'\nA better option to write multi line comment is by adding all your \ntext between a set of 3-single or 3-double quotes. Like we have done here\n'

### Docstring

Docstring is short for documentation string.<p/>

String that occurs as the first statement in a module, function, class, <br/>
or method definition. Used to define what a function/class does.

In [12]:
def square(num):
    """
    Function to square a number. 
    Takes one argumnet of type integer or float and then return that type value
    """
    return num * num

print(square(20))

400

In [17]:
print(square.__doc__)      # To print the docstring of a function use the __doc__ attribute of the function

    Function to square a number.
    Takes one argumnet of type integer or float and then return that type value

In [14]:
square                     # Press shift+tab to view the docstring , tab 2 times will display more result, 
                            #and three times will display full document

In [15]:
print

# Variables

A variable is named location in memory that is used to store some data (value).

The rules for writing a variable name is same as the rules for writing identifiers in Python.

In Python, we simply create a varible in a fly wherever we want to create it, but note during this process we have to assign some value to the variable and python will decide the type and memory location.

### Variable assignements
We use the assignment operator (=) to assign values to a variable

In [16]:
intergerNumber = 4
decimalNumber = 22.2
stringVariable = "StringValue"
print(intergerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

### Multiple assignements
Use comma to seperate the variables and their corresponding values

In [18]:
intergerNumber, decimalNumber, stringVariable = 4, 22.2, "StringValue"
print(intergerNumber, decimalNumber, stringVariable)

4 22.2 StringValue

In [19]:
def myfun():
    return 2, 2.22, 'stringValue'

print(myfun())

(2, 2.22, 'stringValue')

In [20]:
a,b = 5,6
print(a,b)
a,b = b,a
print(a,b)

5 6
6 5

To initialize multiple variables with same value use 1 assignment

In [21]:
variable1=variable2=variable3 = " All variable assigned same value "
print(variable1,variable2,variable3)

 All variable assigned same value   All variable assigned same value   All variable assigned same value

### Storage Locations

In [22]:
print(id(intergerNumber))               #print address of variable: 'intergerNumber'

1550019744

In [23]:
print(id(decimalNumber))               #print address of variable: 'decimalNumber'

2596511497528

#### Note: 
If we define multiple variables with same value, please remember they point to the same 
    memory location. In example below 
interger1 and interger2 points to same memory location in the below example

In [24]:
interger1 = 10
interger2 = 10

print(id(interger1))   
print(id(interger2))  

interger1 = 20

print(id(interger1))   
print(id(interger2))  

interger3 = 20

print(id(interger1))   
print(id(interger2))  
print(id(interger3))

1550019936
1550019936
1550020256
1550019936
1550020256
1550019936
1550020256

## Data Type
###### 
Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Below are few of the commonly used data types

In [27]:
print(type(somename99))

<class 'int'>

#### Python Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.
We can use the type() function to know which class a variable or a value belongs to 
and the isinstance() function to check if an object belongs to a particular class.

In [28]:
data1 = 12                               # integer data type
print(data1, " is of type", type(data1))

data2 = 12.5                            # float data type
print(data2, " is of type", type(data2))

data3 = 100 + 20j                          #data type is changed to complex number
print(data3, " is complex number?", isinstance(data3, complex))

print(type(10+20j))

12  is of type <class 'int'>
12.5  is of type <class 'float'>
(100+20j)  is complex number? True
<class 'complex'>

### Boolean
Boolean represents True or False values

In [29]:
booleanVariable = True                          # 'booleanVariable' is a boolean type & True is a keyword
print(type(booleanVariable))

<class 'bool'>

### Python Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. 
Multi-line strings can be denoted using triple quotes(single/double), ''' or """. 

A string in Python consists of a series or <u>sequence of characters</u> - <b>letters, numbers, and special characters.</b>

Strings can be indexed - often synonymously called subscripted as well.

The first character of a string has the index 0.

In [30]:
stringVariable = "This is a string variable"
print('stringVariable is : ',stringVariable)
print('First character in stringVariable is : ',stringVariable[0])

stringVariable is :  This is a string variable
First character in stringVariable is :  T

In [31]:
# Slicing of String variable
print(stringVariable[0:7])
print(stringVariable[:7])
print(stringVariable[5:])

This is
This is
is a string variable

## Python List

List is an <u>ordered sequence</u> of items. It is one of the most used datatype in Python and is very flexible. 

All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within square brackets <b>'[ ]'</b>.

In [37]:
myList = [1, 2.2, "ThirdElement",12,24,"More values"]
print(myList)

[1, 2.2, 'ThirdElement', 12, 24, 'More values']

In [33]:
print(myList[2])                     # Print an element based on its index. Index starts from 0

ThirdElement

Lists are mutable, which means, value of elements of a list can be changed.

In [34]:
myList[2] = "ElementThree"
print(myList)

[1, 2.2, 'ElementThree', 12, 24, 'More values']

In [38]:
myList.remove(2.2)                             # Remove a particular item from the list
print(myList)

[1, 'ThirdElement', 12, 24, 'More values']

In [39]:
myList.pop(2)                                 # Remove item from a particular index
print(myList)

[1, 'ThirdElement', 24, 'More values']

In [40]:
myList.append(2.2)                            # Add item at the last index
print(myList)

[1, 'ThirdElement', 24, 'More values', 2.2]

### Python Tuple
Tuple is an <u>ordered sequence</u> of items same as list. <br/>
The only difference is that tuples are <u>immutable</u>. <b>Tuples once created cannot be modified</b>.

Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.

It is defined within parentheses <b>()</b> where items are separated by commas.

In [43]:
myTuple = (10,20,30,"Text")
print(myTuple)

(10, 20, 30, 'Text')

In [42]:
print(myTuple[2])                 # Read elements by their corresponding index values

30

In [44]:
myTuple[2] = 120                  # Tuple elements are constants and can not be modified

TypeError: 'tuple' object does not support item assignment

### Python Set

Set is an <u>unordered collection</u> of unique items. <br/>
Set is defined by values separated by comma inside curly braces <b>{ }</b>. <br/>

In [45]:
mySet = {10, 20, 30, 40, 50}
print(mySet)

{40, 10, 50, 20, 30}

In [46]:
mySet = {10, 20, 20, 30, 30}       # Only unique values considered, duplicates removed automatically
print(mySet)

{10, 20, 30}

In [47]:
print(type(mySet))                 # Check the type of the variable

<class 'set'>

In [48]:
print(mySet[0])                    # Cannot print any particular element in a set because 
                                   # it's an unorder collections of items
                                   # 'set' object does not support indexing

TypeError: 'set' object does not support indexing

### Python Dictionary

<b>Dictionary</b> is an <u>unordered collection</u> of <b>key-value</b> pairs.

It is generally used when we have a huge amount of data.<br/> 
Dictionaries are optimized for retrieving data. <br/>
We must know the <b>key</b> to retrieve the <b>value</b>.

In Python, dictionaries are defined within curly braces <b>{}</b> <br/>
with each item being a pair in the form <b>key:value</b>. <br/>
<b>Key and value</b> can be of <u>any type</u>.

In [49]:
myDictionary = {'key1': "value1", 'key2': "value2", 'key3': "value3",}
print(myDictionary['key2'])

value2

In [50]:
myDictionary['key2'] = "value2.2"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3'}

In [51]:
myDictionary["key4"] = "value4"
print(myDictionary)

{'key1': 'value1', 'key2': 'value2.2', 'key3': 'value3', 'key4': 'value4'}

# Conversion between Datatypes

To convert between different data types use different type conversion functions like <b>int(), float(), str()</b> etc.

In [52]:
int(5.5)

5

In [53]:
float(5)

5.0

Conversion to and from string must contain compatible values.

In [54]:
str(5)

'5'

In [55]:
str(5.5)

'5.5'

In [56]:
int('5')

5

In [57]:
int('5.5')

ValueError: invalid literal for int() with base 10: '5.5'

In [58]:
float('5.5')

5.5

In [59]:
float('5')

5.0

In [60]:
int('CharIn10')

ValueError: invalid literal for int() with base 10: 'CharIn10'

In [64]:
myNewString = 'text1 '+ 20 + ' text2'

TypeError: must be str, not int

In [65]:
myNewString = 'text1 '+ str(20) + ' text2'
print(myNewString)

text1 20 text2

Convert,<br/>
1> list to set<br/>
2> String to list

In [73]:
# 1> list to set
myList1 = ['a','b','c','c']
print('myList1 is:',  myList1)
print(type(myList1))
mySet1 = set(myList1)
print(type(mySet1))
print('mySet1 is:', mySet1)

myList1 is: ['a', 'b', 'c', 'c']
<class 'list'>
<class 'set'>
mySet1 is: {'c', 'a', 'b'}

In [75]:
# 2> String to list
myString1 = 'This is string to list'
print(type(myString1))

strToList = list(myString1)
print(type(strToList))
print(strToList)
mySet = set(strToList)
print(mySet)

<class 'str'>
<class 'list'>
['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'l', 'i', 's', 't']
{'s', 'l', 'g', ' ', 't', 'r', 'h', 'n', 'o', 'i', 'T'}